# .gitignore

# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/

# Builds
dist/
build/

# Local env files
.env*
!.env.example

# OS
.DS_Store

# Firebase emuladores ou configs locais
firebase-debug.log
.firebaserc.local

# IDEs
.vscode/
.idea/
*.swp
